<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.canor.alfred2do</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>53D3672E-0F6E-4CE9-8713-7ED6B9EE477F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1C4FCA6-5C0D-404E-BF9C-EB6561A58533</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>988C725F-213D-4067-9520-74A1C6913994</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0D0F985-AF92-47A3-9F2E-5A20C797F7DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0D0F985-AF92-47A3-9F2E-5A20C797F7DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>137F6040-8945-4ED3-9B42-2D3705EB2C71</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4921B5CD-9BFA-4D43-BA95-2031478F2E14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1C4FCA6-5C0D-404E-BF9C-EB6561A58533</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0D0F985-AF92-47A3-9F2E-5A20C797F7DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Canor (@psCanor)</string>
	<key>description</key>
	<string>Create Tasks in 2Do</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>alfred-2Do</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>64</integer>
				<key>script</key>
				<string>on run
	set q to "{query}"
	tell application "System Events"
		open location q
	end tell
	set t to item -2 of q as text
	log t
	if t is equal to "2" then
		return "Created checklist"
	else if t is equal to "1"	then
		return "Created project"
	else 
		return "Created task"
	end if
end run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A0D0F985-AF92-47A3-9F2E-5A20C797F7DF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Submarine</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>137F6040-8945-4ED3-9B42-2D3705EB2C71</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>64</integer>
				<key>keyword</key>
				<string>2dt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/bin/python3.6 twodo-alfred.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>event on [date] at [time] in [place] @[list]</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>988C725F-213D-4067-9520-74A1C6913994</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>64</integer>
				<key>script</key>
				<string>/usr/local/bin/python3 twodo-alfred.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D1C4FCA6-5C0D-404E-BF9C-EB6561A58533</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>2d</string>
				<key>subtext</key>
				<string>event on [date] at [time] in [place] @[list]</string>
				<key>text</key>
				<string>Create 2do Task beta</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>53D3672E-0F6E-4CE9-8713-7ED6B9EE477F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>New item added to your list</string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4921B5CD-9BFA-4D43-BA95-2031478F2E14</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>a 2Do workflow trying to mimic natural language input. refer to github https://github.com/Canorus/alfred-2do</string>
	<key>uidata</key>
	<dict>
		<key>137F6040-8945-4ED3-9B42-2D3705EB2C71</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>4921B5CD-9BFA-4D43-BA95-2031478F2E14</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>53D3672E-0F6E-4CE9-8713-7ED6B9EE477F</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>988C725F-213D-4067-9520-74A1C6913994</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>A0D0F985-AF92-47A3-9F2E-5A20C797F7DF</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>D1C4FCA6-5C0D-404E-BF9C-EB6561A58533</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.0</string>
	<key>webaddress</key>
	<string>blog.canor.kr</string>
</dict>
</plist>
